@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

*:focus{
  outline: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

::-webkit-search-cancel-button{
  filter: invert(50%);
}

body{
  padding: none;
  background-color: #f5f7fb;
  color: #383838;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

textarea{
  white-space: pre-wrap;
}

.navbar{
  background: #20C3B0;
  margin: 0 auto;
  padding: 10px;
}

.nav-link, .nav-link:visited{  
  text-align: center;
  color: #f5f7fb;
  font-size: 16px;
}
.nav-link:hover, .nav-link:focus{
  color: #024f46;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.dropdown-menu{
  background-color: #f5f7fb;
  box-shadow: 2px 3px 3px #888888;
  border-radius: 5px;    
}

.dropdown-menu a{
  text-align: center;
  color: #20C3B0;
}

.dropdown-menu a:hover{    
  background-color: transparent;
  color: #086459;
}

.dropdown-divider{
  border-color: #cccccc;
}


.form-content{
  border-radius: 5px;
  box-shadow: 2px 3px 3px #888888;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fafafd;
  position: relative;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

p{
  font-size: 14px;
  margin: 0px;
  padding: 3px 0px;
}

.p-danger{
  color: #ff0000;
}

.p-title{
  font-weight: bold;
  font-size: 20px;
}
.p-caption{
  font-size: 18px;
}


.font-label{
  font-size: 18px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  font-weight: bold;
}
.font-caption{
  font-size: 16px;
  padding: 0px;
}


.carousel-item{
  width: 100%;
  height: auto;
  padding: 30px 100px;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #024f46, #4ecfc0);
}

.carousel-highlight{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #cccccc;
}

.carousel-title{
  padding: 0px;
  margin: 0px;
  font-size: 24px;
  color: #f5f7fb;
}

.carousel-caption{
  display: inline;
  position: relative;
  padding: 0px;
  margin: 0px;
  right: 0px;
  bottom: 0px;
  left:0px;
  font-size: 18px;
  color: f5f7fb;
}

.carousel-img{
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

.card{
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f5f7fb;
  box-shadow: 1px 1px 2px #888888;
}

.card-rating{
  display: inline;
  position: absolute;
  border-radius: 5px 0px 5px 0px;
  padding: 2px 5px 2px 5px;
  background-color: #555555;;
  color: #f5f7fb;
  z-index: 1;
  font-size: 12px;
}

.card-body{
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.card-img-top{
  width: auto;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
}

.card-title{
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #024f46;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 48px;
  line-height: 16px;
  height: 48px;
}

.card-title:hover{
  color: #024f46;
  font-weight: bold;
}

.card-text{
  font-size: 12px;
  text-align: center;
  color: #000000;
}

.page-link{
  background-color: #f5f7fb;
  color: #107dac;
  font-size: 14px;
}

.page-link:hover{
  color: #005073;
}

.inp-search{  
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  background-color: #c5ebe7;
}

.inp-search:focus{  
  border: none;
  background-color: #ebf5f4;
  outline: none;
  box-shadow: none;
}

.inp-text{
  background: #fafafd;
  border-color: #cccccc;
  font-size: 16px;
  color: #000000;
}

.inp-text:focus{
  background: #ffffff;
  border-color: #20C3B0;
  box-shadow: none;
}
.inp-text-label{
  color: #000000;
  font-size: 14px;
}

.inp-select{
  background: #fafafd;
  border-color: #cccccc;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
  color: #000000;
}

.inp-select:focus{
  background: #ffffff;
  border-color: #20C3B0;
  box-shadow: none;
}

.btn-primary, .btn-primary:visited{
  background-color: #086459;
  border: none;
  color: #f5f7fb;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-primary:hover{
  background-color: #024f46;
  border: none;
  color: #f5f7fb;
  box-shadow: none;
}

.btn-secondary, .btn-secondary:visited{  
  background-color: #a7dfd8;
  border: none;
  color: #031f4b;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-secondary:hover{
  background-color: #5caea4;
  border: none;
  color: #031f4b;
  box-shadow: none;
}

.btn-search, .btn-search:visited{
  background-color: #086459;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: #f5f7fb;
}

.btn-search:hover{
  background-color: #024f46;
  border: none;
  color: #f5f7fb;
  box-shadow: none;
}

.btn-select, .btn-select:visited{
  background-color: #086459;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: #f5f7fb;
}

.btn-select:hover{
  background-color: #024f46;
  border: none;
  color: #f5f7fb;
  box-shadow: none;
}

.btn-link, .btn-link:visited{
  display: flex;
  width: max-content;
  background-color: transparent;
  margin: 0 auto;
  text-decoration: none;
  color: #086459;
}

.btn-link:hover{
  color: #086459;
  font-weight: bold;
  border: none;
  box-shadow: none;
}

.btn-carousel, .btn-carousel:visited{
  display: flex;
  width: max-content;
  background-color: #FF8C00;
  color: #f5f7fb;
  padding: 10px 30px;
  border: none;
  box-shadow: none;
}

.btn-carousel:hover{
  background-color: #ea8000;
  border: none;
  color: #f5f7fb;
  box-shadow: none;
}

.img-login{
  width: 100%;
  height: auto;
}

.img-brand{
  margin: none;
  padding: none;
  width: 130px;
  height: 40px;
}

.img-profil{
  width: 80%;
  border: 5px solid;
  border-color: #cccccc;
}

.img-logo{
  width: 100%;
  height: auto; 
  padding: 0px;
}

.img-logo-mikroskil{
  width: 300px;
  height: 150px;
}

.img-header{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #024f46;
}

.img-footer{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #024f46;
}

.form-contact{
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #888888;
  margin-top: 30px;
  margin-bottom: 30px;
}

.side-left{
  background-color: #086459;
  padding: 50px 30px;
  border-radius: 5px 0px 0px 5px;
  height: 480px;
}

.side-right{
  background-color: #fafafd;
  padding: 30px;
  border-radius: 0px 5px 5px 0px;
  height: 480px;
}

.contact-icon{  
  color: #fafafd;
  font-size: 76px;
  margin-bottom: 20px;
  padding: 0px;
  line-height: 0px;
}

.contact-title{ 
  color: #fafafd;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 36px;
}

.contact-caption{
  color: #fafafd;
  font-size: 24px;
  line-height: 28px;
}

.pos-left{
  text-align: left;
}
.pos-right{
  text-align: right;  
}
.pos-middle{
  display: flex;
  align-items: center;
}

.pos-center{
  text-align: center;
}

footer{
  background-color: #20C3B0;
  padding: 50px 0px 20px 0px;
}

.footer-link{
  font-size: 14px;
  text-decoration: none;
  color: #f5f7fb;
  font-size: 16px;
  padding: 0px 0px 10px 10px;
}

.display-none{
  display: none;;
}

.footer-link:hover{
  color: #024f46;
}

.fa-star, .fa-star-half-alt{
  color: #FFD700;
  padding-right: 5px;
}

.fa-facebook:hover{
  color: #4267B2;
}

.fa-instagram:hover{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-twitter:hover{
  color: #00ACEE;
}

.fa-youtube:hover{
  color: #FF0000;
}

.viewBook{
  width: auto;
  height: 512px;
  margin-top: 30px;
  border: 1px solid;
  border-color: #024f46;
}

.star-widget{
  width: fit-content;
}

.star-widget input{
  display: none;
  padding: 0px;
}

.star-widget label{
  color: #cccccc;
  padding: 0px 3px 0px 0px;
  transition: all 0.2s ease;
  float: right;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color: #FFD700;
}

.star-widget input:checked ~ label{
  color: #FFD700;
  text-shadow: 0px 0px 3px #857311;
}


@media only screen and (min-width: 992px) {
  .nav-link{
    margin-left: 20px;
  }
  
  .navbar-nav{
    position: absolute;
    right: 0!important;
    margin: 0px 10% 0px 10%;
  }
}

@media only screen and (max-width: 992px) {
  .collapse{
    padding: 10px;
    border-radius: 20px;
    background-color: #10b09d;
  }

  .dropdown-menu{
    background-color: #20C3B0;
    box-shadow: none;
    border: none;
    border-radius: 10px;
  }

  .navbar .dropdown-menu a{
    text-align: center;
    color: #f5f7fb;
  }
  
  .navbar .dropdown-menu a:hover{    
    background-color: #20C3B0;
    color: #024f46;
  }

  .carousel-item{
    padding: 30px;
  }
}

/*###########################################
                Profile
###########################################*/

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;
}

.avatar-upload  .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input+ label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #888888;
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
  z-index: 3;
}
.avatar-upload .avatar-edit input+ label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
  z-index: 3;
}

.avatar-upload .avatar-edit input+ label:after {
  content: "\002B";
  color: #757575;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  text-align: center;
  margin: auto;
  z-index: 3;
  font-size: 30px;
  font-weight: 800;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #757575;
}

.avatar-preview  > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media only screen and (max-width: 768px) {
  .side-left{
    background-color: #086459;
    padding: 50px 30px;
    border-radius: 5px 5px 0px 0px;
    height: auto;
  }

  .side-right{
    background-color: #fafafd;
    padding: 30px;
    border-radius: 0px 0px 5px 5px;
    height: auto;
  }
}