*:focus{
  outline: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
body{
  padding: none;
  background-color: #f5f7fb;
  color: #383838;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.navbar{
  background: #20C3B0;
  margin: 0 auto;
  padding: 10px;
}

.nav-link{  
  text-align: center;
  color: #f5f7fb;
  font-size: 16px;
}
.nav-link:visited{
  color: #f5f7fb;
}

.nav-link:hover{
  color: #8AE1D6;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.dropdown-menu{
  background-color: #f5f7fb;
  box-shadow: 2px 3px 3px #888888;
  border-radius: 20px;    
}

.dropdown-menu a{
  text-align: center;
  color: #20C3B0;
}

.dropdown-menu a:hover{    
  background-color: transparent;
  color: #086459;
}

.dropdown-divider{
  border-color: #cccccc;
}


.form-content{
  border-radius: 10px;
  box-shadow: 2px 3px 3px #888888;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fafafd;
  position: relative;
}

h1{
  font-size: 24px;
  font-weight: bold;
}


.footer{
  background: #20C3B0;
  padding-top: 30px;
  padding-bottom: 10px;
}

.notifikasi{
  height: 36px;
  border: none;
  border-radius: 100px;
  padding-left: 44px;
  background-color: transparent;
  background-image: url('img/notification.png');
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-size: 24px;
}
.user{
  height: 36px;
  border: none;
  border-radius: 100px;
  padding-left: 44px;
  background-color: transparent;
  background-image: url('img/user.png');
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-size: 36px;
}
.card{
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
}

.card-body{
  background-color: #ffffff;
}

.kontak{
    margin-top: 10px; 
}

.inp-search{  
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #000000;
  background-color: #c5ebe7;
}

.inp-search:focus{  
  border: none;
  background-color: #ebf5f4;
  outline: none;
  box-shadow: none;
}

.inp-text{
  background: #fafafd;
  border-color: #cccccc;
  font-size: 16px;
  color: #000000;
}

.inp-text:focus{
  background: #ffffff;
  border-color: #20C3B0;
  box-shadow: none;
}
.inp-text-label{
  color: #000000;
  font-size: 14px;
}

.btn-primary, .btn-primary:active{
  background-color: #107dac;
  border: none;
  color: #f5f7fb;
}
.btn-primary:hover, .btn-primary:visited, .btn-primary:focus{
  background-color: #005073;
  border: none;
  color: #f5f7fb;
}

.btn-secondary, .btn-secondary:active{  
  background-color: #b3cde0;
  border: none;
  color: #031f4b;
}

.btn-secondary:hover, .btn-secondary:visited, .btn-secondary:focus{
  background-color: #6497b1;
  border: none;
  color: #031f4b;
}

.btn-search, .btn-search:active{
  background-color: #086459;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: #f5f7fb;
}

.btn-search:hover, .btn-search:visited, .btn-search:focus{
  background-color: #024f46;
  border: none;
  color: #f5f7fb;
}

.image-middle{
  width: 100%;
  height: auto;
}

.image-brand{
  margin: none;
  padding: none;
  width: 130px;
  height: 40px;

}


@media only screen and (min-width: 992px) {
  .nav-link{
    margin-left: 20px;
  }
  
  .navbar-nav{
    position: absolute;
    right: 0!important;
    margin: 0px 10% 0px 10%;
  }
}

@media only screen and (max-width: 992px) {
  .collapse{
    padding: 10px;
    border-radius: 20px;
    background-color: #10b09d;
  }

  .dropdown-menu{
    background-color: #20C3B0;
    box-shadow: none;
    border: none;
    border-radius: 20px;    
  }

  .dropdown-menu a{
    text-align: center;
    color: #f5f7fb;
  }
  
  .dropdown-menu a:hover{    
    background-color: #20C3B0;
    color: #8AE1D6;
  }
}